# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Env files
.env
.env.*
*.env


## 빌드 관련 부수적인것들 안보이게
# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
.pub-cache/
.pub/
build/

# Android
**/android/**/build/
**/android/.gradle/
**/android/local.properties

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/

# IDE
.idea/
.vscode/

# ── Flutter 툴이 자동 생성하는 플랫폼별 플러그인 등록 파일 ──
# Android
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake

# Windows
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake

# 공통: flutter가 만드는 임시/생성 디렉터리
**/flutter/ephemeral/
